{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <div>
    <h1 class="logout-title">{% trans "Sign Out" %}</h1>
  </div>
  <hr>

<div class="container-fluid">
  <div class="col-12 mt-3">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div>
          <div class="col-md-12">
            <div class="signout-box">
              <p class="logout-text">Hello {{ user }}! Are you sure you want to sign out?</p>
            
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="logout-button">{% trans 'Sign Out' %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div>
          <div>
            <img src="https://res.cloudinary.com/dvgol9ade/image/upload/v1650390392/logout-image_prknku.jpg" alt=""
              class="hero-img signout-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
