/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Kavoon&display=swap');

body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Hubballi', sans-serif;
    font-weight: 600;
}

/* navigation CSS */


.nav-bar-logo:hover {
    color: #98733E;
}

.nav-link {
    font-size: 25px;
    margin-top: 10px;
    color: #5D737E;
}

.nav-link:hover {
    color: #526169;
}

.nav-bar-logo {
    font-family: 'Inspiration', sans-serif;
    font-size: 70px;
    color: #B28649;
}

/* Index.html CSS */

.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
}

.hero-title {
    text-align: center;
}

.hero-title h1 {
    font-size: 80px;
}

.hero-title h2 {
    font-family: 'Inspiration',
    sans-serif;
    font-size: 60px;
    color: #B28649;
    font-weight: bold;
}

/* Recipe.html */

.recipe-title {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.recipe-text {
    text-align: center;
    font-size: 25px;
}

.recipe-link {
    text-decoration: none;
    cursor: pointer;
}

.recipe-link:hover {
    color: #526169;
}

.card-title {
    font-family: 'kavoon', sans-serif;
}

.card-text {
    font-size: 18px;
}

.card-title, .card-text {
    color: #5D737E;
}

.card-body {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: none;
}

/* Footer CSS */

.footer {
    text-align: center;
    font-size: 20px;
    position: relative;
    background-color: #465362;
    color: #B28649;
    padding: 6px;
}

.footer-text {
    margin: 5px;
}

.fab {
    text-decoration: none;
    color: #B28649;
}