/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Kavoon&display=swap');

body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Hubballi', sans-serif;
    font-weight: 600;
}

/* navigation CSS */


.nav-bar-logo:hover {
    color: #98733E;
}

.nav-link {
    font-size: 25px;
    margin-top: 10px;
    color: #5D737E;
}

.nav-link:hover {
    color: #526169;
}

.nav-bar-logo {
    font-family: 'Inspiration', sans-serif;
    font-size: 70px;
    color: #B28649;
}

/* Index.html CSS */

.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
}

.hero-title {
    text-align: center;
}

.hero-title h1 {
    font-size: 80px;
}

.hero-title h2 {
    font-family: 'Inspiration',
    sans-serif;
    font-size: 60px;
    color: #B28649;
    font-weight: bold;
}

.container-fluid {
    width: 80%;
}

.index-title {
    font-size: 60px;
    text-align: center;
}

.index-title h2 {
    font-family: 'Inspiration', sans-serif;
    color: #B28649;
    font-weight: bold;
}

.index-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

.index-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: lightgrey;
    opacity: 0.8;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

    font-size: 30px;
    text-decoration: none;
}

.contact-title {
    font-family: 'Inspiration',
    sans-serif;
    color: #5D737E;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.contact-box {
    background-color: #B28649;
    padding: 20px;
    margin: 20px;
}

.contact-p {
    font-size: 30px;
}

.contact-us-title {
    font-size: 55px;
    font-weight: bold;
    text-decoration: underline;
}

.contact-text {
    text-align: center;
}

.contact-text {
    font-size: 20px;
    color: #2A323C;
}

.map-box {
    text-align: center;
}

/* Recipe.html */

.recipe-title {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.recipe-text {
    text-align: center;
    font-size: 25px;
}

.recipe-link {
    text-decoration: none;
    cursor: pointer;
}

.recipe-link:hover {
    color: #526169;
}

.card-title {
    font-family: 'kavoon', sans-serif;
    text-align: center;
}

.image-flash {
    text-align: center;
    color: #AE8141;
}

.card-text {
    font-size: 18px;
}

.card-title, .card-text {
    color: #98733E;
}

.card-body {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: none;
}

.post-banner {
    background-color: #2A323C;
}

.recipe-info {
    margin: 3px;
}

/* Recipe Detail CSS */

.detail-title {
    text-align: center;
    font-weight: bold;
    border: 2px solid #98733E;
    font-size: 50px;
    font-family: ;
}

/* Footer CSS */

.footer {
    text-align: center;
    font-size: 20px;
    position: relative;
    background-color: #465362;
    color: #B28649;
    padding: 6px;
}

.footer-text {
    margin: 5px;
}

.fab {
    text-decoration: none;
    color: #B28649;
}