/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Hubballi', sans-serif;
    font-weight: 600;
}

/* navigation CSS */


.nav-bar-logo:hover {
    color: #98733E;
}

.nav-link {
    font-size: 25px;
    margin-top: 10px;
    color: #5D737E;
}

.nav-link:hover {
    color: #526169;
}

.nav-bar-logo {
    font-family: 'Inspiration', sans-serif;
    font-size: 70px;
    color: #B28649;
}

/* Recipe.html */

.recipe-title {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.recipe-text {
    text-align: center;
    font-size: 25px;
}