{% extends 'base.html' %}

{% block content %}

<section class="py-5 light-teal">
    <div class="container">
        {% if recipe_list|length == 0 %}
        <p class="text-center py-5">There are no recipes yet.</p>
        {% else %}
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3">
            {% for recipe in recipe_list %}
            <div class="col">
                <a href="#">
                    <div class="card shadow">
                        <div class="card-body">
                            <p class="card-text text-center">{{ recipe.title }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}