{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1 class="category-title">Categories</h1>
                <hr>
                {% for category in category_list %}
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="card mb-4">
                        <div class="post-banner">
                            <div class="image-container">
                                <img class="card-img-top" src=" {{ category.category_image.url }}">
                            </div>
                            <div class="category-info">
                                <a href="#" class="category-link">
                                    <h2 class="category-card card-title">{{ category.title }}</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{%endblock%}