{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        {% if recipe_list|length == 0 %}
        <div class="catergory_recipe-text">
            <p class="text-center">There are no recipes yet.</p>
            <p class="text-center">Be the first to create a recipe! <a class="btn create-btn cr-create-btn"
                    href="{% url 'create_recipe' %}" role="button"><i class="fas fa-plus"></i></a></p>
        </div>
        {% else %}
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <h1 class="category-title">
                {{ category.title }}
            </h1>
            {% for recipe in recipe_list %}
            <div class="post-banner">
                <div class="image-container">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/dvgol9ade/image/upload/v1647892595/static/french-style-country-loaf_xejbox.jpg"
                        alt="loaf-of-bread">
                    {% else %}
                    <img class="card-img-top" src=" {{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
                    {% endif %}
                </div>
                <div class="recipe-info">
                    <a href="{% url 'recipe_detail' slug=recipe.slug %}" class="recipe-link">
                        <h2 class="card-title">{{ recipe.title }}</h2>
                    </a>
                    <div class="image-flash">
                        <p class="author">Uploaded by: {{ recipe.author }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}