{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 center">
            <div class="md-4">
                <div class="hero-title">
                    <h1>Welcome to </h1>
                    <h2>Food Twisters</h2>
                </div>
                <div class="col-12">
                    <img src="https://res.cloudinary.com/dvgol9ade/image/upload/v1648054904/main-image_crs6aj.jpg" alt=""
                        class="hero-img">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="hero-title">
        <h1>
            The Place Where Cooking
        </h1>
        <h2>
            Becomes A Reality
        </h2>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="rov">
        <div class="col-12 mt-3 center">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card md-4 index-image">
                        <div>
                            <img src="https://res.cloudinary.com/dvgol9ade/image/upload/v1648143596/make-recipe-image_btgbdb.jpg"
                                alt="eggs and flour" class="card-img-top">
                            <a href="" class="index-link">Make a Recipe</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card md-4 index-image">
                        <div>
                            <img src="https://res.cloudinary.com/dvgol9ade/image/upload/v1648143815/see-recipe-image_mrk2gj.jpg"
                                alt="bread" class="card-img-top">
                            <a href="{% url 'recipe' %}" class="index-link">See Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 center">
            <div class="md-4">
                <div>
                    <h2 class="contact-title">Contact Us!</h2>
                </div>
                <div class="card-body contact-box">
                    <div class="sm-12 md-4 lg-4">
                        <div class="contact-text">
                            <div class="contact-p">
                                <p>
                                    If you ever need any more assistance with any please feel free to contact us!
                                </p>
                            </div>
                        </div>
                        <div class="card md-4 map-box">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19113.23738027867!2d-6.510465370245199!3d53.21507501689619!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48679d8aa0e8ca43%3A0x412eaaed40a7eaa7!2sTinode%2C%20Co.%20Wicklow%2C%20Ireland!5e0!3m2!1sen!2suk!4v1648147695948!5m2!1sen!2suk"
                                height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="contact-text">
                            <h3 class="contact-us-title">
                                Our Details:
                            </h3>
                            <p class="contact-email"><i class="fas fa-envelope"></i></i> admin@mail.com</p>
                            <p class="contact-phone"><i class="fas fa-phone-alt"></i> 020 910 0174 </p>
                            <p class="contact-address"><i class="fas fa-map-marker"></i> Tinode, Kilbride, Co. Wicklow, W91 EC90, Ireland</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

</div>

{%endblock%}