{% extends "base.html" %}

{%block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <class class="row">
                <h1 class="detail-title">{{ recipe.title }}</h1>
                <div class="col-sm-12 col-md-6">
                    <div class="detail-image-box mb-4">
                        <img class="card-img-top detail-image" src=" {{ recipe.featured_image.url }}">
                        <p class="detail-image-text">
                            Created by: {{ recipe.author }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="recipe-detail-info">
                        <div class="detail-times">
                            <h4 class="recipe-time-title">Preparation</h3>
                            <h5 class="recipe-time"> Prepation time: {{ recipe.preparation_time }}</h5>
                            <h5 class="recipe-time"> Cooking time: {{ recipe.cooking_time }} </h5>
                            <h5 class="recipe-time"> Total time: {{ recipe.total_time }} </h5>
                        </div>
                        <hr>
                        <div class="recipe-titles">
                            <h4 class="recipe-ingredients-title">Ingredients</h4>
                            <p class="recipe-ingredients">{{ recipe.ingredients|safe }}</p>
                        </div>
                        <hr>
                        <div>
                            <h4 class="recipe-instructions-title">Instructions</h4>
                            <p class="recipe-instructions">{{ recipe.instructions|safe }}</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </class>
        </div>
    </div>
</div>

{% endblock %}