{% extends "base.html" %}

{%block content %}

{% load crispy_forms_tags %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <class class="row">
                <h1 class="detail-title">{{ recipe.title }}</h1>
                <div class="col-sm-12 col-md-6">
                    <div class="detail-image-box mb-4">
                        <img class="card-img-top detail-image" src=" {{ recipe.featured_image.url }}">
                        <p class="detail-image-text card-upload">
                            Uploaded by: {{ recipe.author }}
                        </p>
                        <div class="recipe_like">
                            {% if user.is_authenticated %}
                            <form action="{% url 'recipe_like' recipe.slug %}" class="d-inline" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                            
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                            
                                {% else %}
                            
                                <button type="submit" name="recipe_id" value="{{recipe.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                            
                                {% endif %}
                            </form>
                            {% else %}
                            
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-seconday"> {{ recipe.number_of_likes }}</span>
                        </div>
                    </div>
                    <div class="comment-section">
                        <div class="recipe-comment">
                        
                            {% if commented %}
                            <div class="alert alert-success" role="alert">
                                Your comment has been published!
                            </div>
                            {% else %}
                        
                            {% if user.is_authenticated %}
                        
                            <h3 class="comment-title">Your comment here:</h3>
                            <p class="comment-user">User: {{ user.username }}</p>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-lg comment-submit">Submit</button>
                            </form>
                            {% endif %}
                            {% endif %}
                        
                        </div>
                        <h3 class="comment-title">Comments:</h3>
                        <div class="card-body public-comments">
                            {% for comment in comments %}
                            <div class="comments">
                                <p class="commented-user">
                                    <!-- The commenter's name goes here.-->
                                    {{ comment.name }} 
                                </p>
                                <p>
                                    {{ comment.body | linebreaks }}
                                </p>
                            </div>
                            <!-- for loop ends here -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="recipe-detail-info">
                        <div class="container-fluid">
                            <div>
                                <div class="col-12 mt-3 center">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div>
                                                <div class="detail-serving">
                                                    <h4 class="serving-title">Serving</h4>
                                                    <h5 class="serving-portions"> Serves: {{ recipe.serving_size }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div class="detail-times">
                                                <h4 class="recipe-time-title">Preparation</h3>
                                                    <h5 class="recipe-time"> Prepation time: {{ recipe.preparation_time }}</h5>
                                                    <h5 class="recipe-time"> Cooking time: {{ recipe.cooking_time }} </h5>
                                                    <h5 class="recipe-time"> Total time: {{ recipe.total_time }} </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="recipe-titles">
                            <h4 class="recipe-ingredients-title">Ingredients</h4>
                            <p class="recipe-ingredients">{{ recipe.ingredients|safe }}</p>
                        </div>
                        <hr>
                        <div>
                            <h4 class="recipe-instructions-title">Instructions</h4>
                            <p class="recipe-instructions">{{ recipe.instructions|safe }}</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </class>
        </div>
    </div>
</div>

{% endblock %}